RewriteEngine On
RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://vein-academy.servier.com/$1 [R=301,L]

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /vein/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vein/index.php [L]
</IfModule>

# END WordPress

Redirect /venous-diseases-website/book/the-vein-glossary/ /book/the-vein-glossary/