<article id="post-0" class="post no-results not-found text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>{{ __( 'No results' ) }}</h2>
    <div class="entry-content">
        <p class="lead">{{ __( 'We did not find any result for your search' ) }}.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</article>
