<div id="zy-search">
    <div class="input-wrapper">
        <form method="GET" action="{{ site.url }}">
            <input type="text" name="s" placeholder="What are you looking for ?">
            <img src="http://localhost/vein/wp-content/themes/servier/new-assets/img/icon-lens.png">
        </form>
    </div>
</div>