@charset "UTF-8";

// Logo
.home-h1 {
  line-height: 0;
  overflow:    hidden;
  position:    absolute;
  text-indent: -9999px;
  white-space: nowrap;
}

.custom-logo {
  @include img-responsive();
  &-link {
    @include responsive(xs) {
      display:   block;
      max-width: 60%;
    }
  }
}

header.header {
  @include clearfix;
  .navbar {
    background-color: $body-bg;
    margin-bottom:    0;
    padding:          15px 0;
  }

  @include responsive(sm) {
    .custom-logo {
      max-width: 348px;
    }
  }
  .search-form {
    @include responsive($grid-float-breakpoint) {
      float:       right;
      padding-top: 15px;
    }
    @include responsive(lg) {
      margin-right: -15px;
    }
    @include responsive(xs) {
      margin-left:  auto;
      margin-right: auto;
      text-align:   center;
      width:        100%;
    }
  }
}