{% extends "new_base.twig" %}

{% block content %}

    
    <div class="row">
        <div class="col-md-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            {% include 'layout/banner-default.twig' with {
                class: 'white',
                title: __('Error 404')
            } %}
            <div class="content {{ 'content--'~post_type }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <article class="post-content text-center">
                                <br>
                                <h2>
                                    {{ __('La page que vous cherchez n\'existe pas') }}
                                </h2>
                                <br>
                                <div class="clearfix text-center p15">
                                    <a class="btn btn-primary" href="{{ site.link }}">
                                        <i class="icon-custom-arrow-left"></i> &nbsp; {{ __('Retour à la page d\'accueil') }}</a>
                                </div>
                                <br>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}