{% extends "new_base.twig" %}
{% block content %}
{{page.url}}
    <div class="row">
        <div class="col-md-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="main-content">
                {% include "partials/single-header.twig" %}
                {{ post.content }}
            </div>
        </div>
    </div>
    
{% endblock %}