.page.zy{
    height: calc(100vh + 100px);
    background: #fcfcfc;
    
}
.section-title{
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #3175B1;
    margin-top: 41px;
}
.page-videos-presentations{
    .main-content{
        .results-sorting{
            justify-content: end;
        }
    }
    
}
.main-content{
    margin-bottom: 71px;
    .sort_wrapper{
        .sort_item {
            background: #033878;
            display: inline-block;
            color: white;
            padding: 10px;
            margin-right: 15px;
            cursor: pointer;
            border-radius: 7px;
            @media (max-width: 992px){
                margin-bottom: 6px;
                padding: 7px 15px;
                margin-right: 5px;
            }
            &.clearall {
                background: #333333;
                span {
                    margin-right: 10px;
                    margin-left: 0px;
                }
            }
            * {
                display: inline-block;
            }
            p {
                margin: 0px;
            }
            span {
                margin-left: 10px;
            }
        }
    }
    .results-sorting{
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 992px){
            flex-direction: column;
        }
        &.search-page{
            flex-direction: row;
            #search-post-types{
                @media (max-width: 992px){
                    width: 200px;
                }
                .search-post-types-options{
                    @media (max-width: 992px){
                        width: 200px;
                    }
                }
            }
            #search-sort{
                width: var(--d-width);
                @media (max-width: 992px){
                    width: var(--m-width);
                }
            }
            .select2.select2-container{
                height: 37px;
                @media (max-width: 992px){
                    margin-top: 0px;
                }
                .selection{
                    .select2-selection{
                        height: 37px;
                        .select2-selection__rendered{
                            line-height: 36px;
                        }
                        .select2-selection__arrow{
                            height: 35px;
                        }
                    }
                }
            }
        }
        #search-post-types{
            position: relative;
            z-index: 1;
            width: 235px;
            background: #FFFFFF;
            border: 1px solid #0071BA;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px 12px;
            @media (max-width: 992px){
                width: 100%;
            }
            .search-post-types-options{
                z-index: 1;
                position: absolute;
                width: 235px;
                background: #FFFFFF;
                border: 1px solid #0071BA;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 8px 4px;
                left: -1px;
                top: -1px;
                display: none;
                flex-direction: column;
                @media (max-width: 992px){
                    width: 175px;
                }
                .placeholder-sim{
                    padding-left: 8px;
                    padding-bottom: 12px;
                }
                .post-types-label{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    border-radius: 4px;
                    &:hover{
                        background: #033878;
                        .post-types-checkbox{
                            background-color: #fff;
                            border-color: #fff;
                        }
                        label{
                            color: #fff;
                            
                        }
                    }
                    input{
                        display: none;
                        &:checked ~ .post-types-checkbox:after{
                            content: "";
                        }
                    }
                    .post-types-checkbox{
                        position: relative;
                        width: 13px;
                        height: 13px;
                        border: 2px solid #033878;
                        &:after{
                            content: none;
                            position: absolute;
                            width: 7px;
                            height: 12px;
                            border-left: 2px solid #033878;
                            border-top: 2px solid #033878;
                            left: 50%;
                            top: 50%;
                            transform-origin: center;
                            transform: translate(-50%, -73%) rotate(-145deg);
                        }
                    }
                    label{
                        margin: 0px;
                        padding-left: 10px;
                        text-transform: capitalize;
                        font-family: Heebo;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
            .arrow{
                z-index: 0;
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                &.opened{
                    top: 17px;
                }
            }
            
        }
        #search-sort{
            width: var(--d-width);
            @media (max-width: 992px){
                width: var(--m-width);
                display: none;
            }
        }
        .select2.select2-container{
            height: 37px;
            @media (max-width: 992px){
                margin-top: 6px;
                width: 100%;
            }
            .selection{
                .select2-selection{
                    height: 37px;
                    .select2-selection__rendered{
                        line-height: 36px;
                    }
                    .select2-selection__arrow{
                        height: 35px;
                    }
                }
            }
        }
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (max-width: 992px){
                width: 100%;
            }
            p{
                margin: 3px;
            }
            .filter-item{
                padding: 5px 10px;
                background: #ebebeb;
                margin: 3px;
                border: none;
                border-radius: 4px;
                @media (max-width: 992px){
                    width: 100%;
                }
                @media (min-width: 993px){
                    &:hover{
                        background: #2e71b5;
                        color: #fff;
                    }
                }
                
                &.active{
                    background: #2e71b5;
                    color: #fff;
                }
            }
        }
    }
    .results-query{
        margin-top: 40px;
        margin-bottom: 8px;
    }
    .no-posts-found{
        text-align: center;
        margin-bottom: 40px;
        h3{
            font-family: Heebo;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: #0071ba;
        }
        p{
            width: 290px;
            max-width: 100%;
            font-family: Heebo;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            margin: auto;
            color: #000;
        }
    }
    &.single{
        .embed-responsive{
            width: 80%;
            margin: -100px auto 0;
            padding-bottom: 45.25%;
        }  
        .post-content-publication{
            margin-top: 20px;
        }
        .post-content{
            margin-top: 20px;
            .publication-url{
                background: #015d9e;
                text-align: center;
                padding: 22px;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-family: Heebo;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0px;
                }
            }
            .post-related{
                article{
                    position: relative;
                    padding-bottom: 25px;
                    &.teaser--apps, &.teaser--website{
                        padding-bottom: 0px;
                        .teaser__content{
                            position: relative;
                            .teaser__title{
                                margin: 0;
                                margin-bottom: 16px;
                                color: #475775;
                                font-family: Heebo;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0px;
                            }
                            .teaser__download-apps{
                                top: auto;
                                bottom: 0px;
                                right: 100px;
                                a{
                                    width: 75px;
                                }
                            }
                            .teaser__btn-wrapper{
                                a{
                                    border: none;
                                    &.teaser__btn{
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        background: #2e71b5;
                                        border-radius: 8px 0 3px;
                                        font-size: 12px;
                                        padding: 3px 5px;
                                    }
                                }
                            }
                            p{
                                font-size: 12px;
                                margin-bottom: 10px;
                                span{
                                    text-transform: capitalize;
                                    color: #8b3e87;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 14px;
                                    letter-spacing: 0px;
                                    font-family: Heebo;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &>img{
        width: 80%;
        margin: 0 auto;
    }
}
.tool-pagination{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    ul.pages{
        display: inline-block;
        padding-left: 0;
        margin: 0px;
        border-radius: 4px;
        li{
            display: inline-block;
            .page-number{
                font-family: Heebo,sans-serif;
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857;
                text-decoration: none;
                color: #ebebeb;
                border: 1px solid transparent;
                margin-left: -1px;
                &:hover{
                    color: #0072ba;
                }
                &.current{
                    color: #0072ba;
                    
                }
            }
            
        }
    }
    span{
        &.disabled{
            i{
                opacity: 0.2 !important;
            }
        }
    }
}