.page.zy{
    height: calc(100vh + 100px);
    background: #fcfcfc;
    .section-title{
        font-family: Heebo;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        color: #024A85;
    }
}