.sort_item {
    background: #033878;
    display: inline-block;
    color: white;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 7px;
}

.sort_item * {
    display: inline-block;
}

.sort_item p {
    margin: 0px;
}

.sort_item span {
    margin-left: 10px;
}

.sort_item.clearall {
    background: #333333;
    margin-left: 10px;
}

.sort_item.clearall span {
    margin-right: 10px;
    margin-left: 0px;
}