.new-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
@media (max-width: 768px) {
  .new-content {
    grid-template-columns: 1fr;
  }
}
.new-content .new-content-left .square-box-big {
  display: block;
  position: relative;
  height: 368px;
  border-radius: 16px;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.new-content .new-content-left .square-box-big .square-box-big-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 44px 40px;
  height: 42%;
  background: linear-gradient(0deg, #000000 0%, #535353 100%);
  border-radius: 0px 0px 20px 20px;
}
.new-content .new-content-left .square-box-big .square-box-big-content p {
  color: #fff;
}
.new-content .new-content-right {
  display: grid;
  gap: 8px;
}
.new-content .new-content-right .new-content-right-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.new-content .new-content-right .new-content-right-top .square-box-small {
  display: block;
  position: relative;
  height: 180px;
  border-radius: 16px;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 60%), var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
  overflow: hidden;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content {
  position: absolute;
  bottom: 12px;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p {
  color: #fff;
  margin-bottom: 0px;
  white-space: -moz-nowrap;
  /* Firefox */
  white-space: -o-nowrap;
  /* Opera */
  white-space: nowrap;
  /* Chrome */
  word-wrap: nowrap;
  /* IE */
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p.date {
  font-family: Work Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p.title {
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .square-box-long {
  display: block;
  position: relative;
  height: 180px;
  border-radius: 16px;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 60%), var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
  overflow: hidden;
}
.new-content .new-content-right .square-box-long .square-box-content {
  position: absolute;
  bottom: 12px;
}
.new-content .new-content-right .square-box-long .square-box-content p {
  color: #fff;
  margin-bottom: 0px;
  white-space: -moz-nowrap;
  /* Firefox */
  white-space: -o-nowrap;
  /* Opera */
  white-space: nowrap;
  /* Chrome */
  word-wrap: nowrap;
  /* IE */
}
.new-content .new-content-right .square-box-long .square-box-content p.date {
  font-family: Work Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .square-box-long .square-box-content p.title {
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

#zy-header {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  #zy-header {
    padding: 15px;
    margin: 0px -15px 10px;
    border-bottom: 1px solid #c4cbd9;
  }
}
@media (max-width: 992px) {
  #zy-header img {
    width: 235px;
  }
}
#zy-header .input-wrapper {
  display: none;
}
@media (min-width: 993px) {
  #zy-header .input-wrapper {
    display: block;
  }
}
#zy-header .input-wrapper form input {
  border-bottom: 1px solid #2E71B5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  padding: 6px 0px;
  outline: none;
}
#zy-header .menu-hamburger {
  display: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0px;
  position: relative;
}
@media (max-width: 992px) {
  #zy-header .menu-hamburger {
    display: flex;
  }
}
#zy-header .menu-hamburger span {
  display: inline-block;
  width: 80%;
  height: 2px;
  background: #0072ba;
  margin: 0 auto;
  opacity: 1;
  transition: 0.2s;
}
#zy-header .menu-hamburger.active span {
  position: absolute;
  left: 5px;
  width: 80%;
  height: 3px;
}
#zy-header .menu-hamburger.active span:nth-of-type(1) {
  opacity: 0;
}
#zy-header .menu-hamburger.active span:nth-of-type(2) {
  top: 7px;
  transform-origin: top left;
  transform: rotate(45deg);
}
#zy-header .menu-hamburger.active span:nth-of-type(3) {
  bottom: 7px;
  transform-origin: bottom left;
  transform: rotate(-45deg);
}

.menu-mobile {
  display: none;
}
.menu-mobile ul {
  list-style: none;
  -webkit-padding-start: 0px;
}
.menu-mobile ul li {
  margin: 15px auto;
}
.menu-mobile ul li:first-child {
  margin-top: 0px;
}
.menu-mobile ul li:last-child {
  margin-bottom: 0px;
}
.menu-mobile ul li a {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: #000;
}
.menu-mobile ul li a:hover {
  background: #ecf1f9;
}
.menu-mobile ul li a.active {
  color: #0072ba;
  font-weight: 700;
}
.menu-mobile ul li .input-wrapper form input {
  padding: 16px 12px;
  border-bottom: 2px solid;
  width: 90%;
}

.page.zy {
  height: calc(100vh + 100px);
  background: #fcfcfc;
}

.section-title {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #3175B1;
  margin-top: 41px;
}

.page-videos-presentations .main-content .results-sorting {
  justify-content: end;
}

.main-content {
  margin-bottom: 71px;
}
.main-content .sort_wrapper .sort_item {
  background: #033878;
  display: inline-block;
  color: white;
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 7px;
}
@media (max-width: 992px) {
  .main-content .sort_wrapper .sort_item {
    margin-bottom: 6px;
    padding: 7px 15px;
    margin-right: 5px;
  }
}
.main-content .sort_wrapper .sort_item.clearall {
  background: #333333;
}
.main-content .sort_wrapper .sort_item.clearall span {
  margin-right: 10px;
  margin-left: 0px;
}
.main-content .sort_wrapper .sort_item * {
  display: inline-block;
}
.main-content .sort_wrapper .sort_item p {
  margin: 0px;
}
.main-content .sort_wrapper .sort_item span {
  margin-left: 10px;
}
.main-content .results-sorting {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .main-content .results-sorting {
    flex-direction: column;
  }
}
.main-content .results-sorting.search-page {
  flex-direction: row;
}
@media (max-width: 992px) {
  .main-content .results-sorting.search-page #search-post-types {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .main-content .results-sorting.search-page #search-post-types .search-post-types-options {
    width: 200px;
  }
}
.main-content .results-sorting.search-page #search-sort {
  width: var(--d-width);
}
@media (max-width: 992px) {
  .main-content .results-sorting.search-page #search-sort {
    width: var(--m-width);
  }
}
.main-content .results-sorting.search-page .select2.select2-container {
  height: 37px;
}
@media (max-width: 992px) {
  .main-content .results-sorting.search-page .select2.select2-container {
    margin-top: 0px;
  }
}
.main-content .results-sorting.search-page .select2.select2-container .selection .select2-selection {
  height: 37px;
}
.main-content .results-sorting.search-page .select2.select2-container .selection .select2-selection .select2-selection__rendered {
  line-height: 36px;
}
.main-content .results-sorting.search-page .select2.select2-container .selection .select2-selection .select2-selection__arrow {
  height: 35px;
}
.main-content .results-sorting #search-post-types {
  position: relative;
  z-index: 1;
  width: 235px;
  background: #FFFFFF;
  border: 1px solid #0071BA;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
}
@media (max-width: 992px) {
  .main-content .results-sorting #search-post-types {
    width: 100%;
  }
}
.main-content .results-sorting #search-post-types .search-post-types-options {
  z-index: 1;
  position: absolute;
  width: 235px;
  background: #FFFFFF;
  border: 1px solid #0071BA;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 4px;
  left: -1px;
  top: -1px;
  display: none;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main-content .results-sorting #search-post-types .search-post-types-options {
    width: 175px;
  }
}
.main-content .results-sorting #search-post-types .search-post-types-options .placeholder-sim {
  padding-left: 8px;
  padding-bottom: 12px;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover {
  background: #033878;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover .post-types-checkbox {
  background-color: #fff;
  border-color: #fff;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover label {
  color: #fff;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label input {
  display: none;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label input:checked ~ .post-types-checkbox:after {
  content: "";
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label .post-types-checkbox {
  position: relative;
  width: 13px;
  height: 13px;
  border: 2px solid #033878;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label .post-types-checkbox:after {
  content: none;
  position: absolute;
  width: 7px;
  height: 12px;
  border-left: 2px solid #033878;
  border-top: 2px solid #033878;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -73%) rotate(-145deg);
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label label {
  margin: 0px;
  padding-left: 10px;
  text-transform: capitalize;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.main-content .results-sorting #search-post-types .arrow {
  z-index: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .results-sorting #search-post-types .arrow.opened {
  top: 17px;
}
.main-content .results-sorting #search-sort {
  width: var(--d-width);
}
@media (max-width: 992px) {
  .main-content .results-sorting #search-sort {
    width: var(--m-width);
    display: none;
  }
}
.main-content .results-sorting .select2.select2-container {
  height: 37px;
}
@media (max-width: 992px) {
  .main-content .results-sorting .select2.select2-container {
    margin-top: 6px;
    width: 100%;
  }
}
.main-content .results-sorting .select2.select2-container .selection .select2-selection {
  height: 37px;
}
.main-content .results-sorting .select2.select2-container .selection .select2-selection .select2-selection__rendered {
  line-height: 36px;
}
.main-content .results-sorting .select2.select2-container .selection .select2-selection .select2-selection__arrow {
  height: 35px;
}
.main-content .results-sorting #filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 992px) {
  .main-content .results-sorting #filters {
    width: 100%;
  }
}
.main-content .results-sorting #filters p {
  margin: 3px;
}
.main-content .results-sorting #filters .filter-item {
  padding: 5px 10px;
  background: #ebebeb;
  margin: 3px;
  border: none;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .main-content .results-sorting #filters .filter-item {
    width: 100%;
  }
}
@media (min-width: 993px) {
  .main-content .results-sorting #filters .filter-item:hover {
    background: #2e71b5;
    color: #fff;
  }
}
.main-content .results-sorting #filters .filter-item.active {
  background: #2e71b5;
  color: #fff;
}
.main-content .results-query {
  margin-top: 40px;
  margin-bottom: 8px;
}
.main-content .no-posts-found {
  text-align: center;
  margin-bottom: 40px;
}
.main-content .no-posts-found h3 {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #0071ba;
}
.main-content .no-posts-found p {
  width: 290px;
  max-width: 100%;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: auto;
  color: #000;
}
.main-content.single .embed-responsive {
  width: 80%;
  margin: -100px auto 0;
  padding-bottom: 45.25%;
}
.main-content.single .post-content-publication {
  margin-top: 20px;
}
.main-content.single .post-content {
  margin-top: 20px;
}
.main-content.single .post-content p a {
  text-decoration: underline;
}
.main-content.single .post-content .publication-url {
  background: #015d9e;
  text-align: center;
  padding: 22px;
}
.main-content.single .post-content .publication-url a {
  color: #fff;
  text-decoration: none;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}
.main-content.single .post-content .post-related article {
  position: relative;
  padding-bottom: 25px;
}
.main-content.single .post-content .post-related article .teaser-library__date span {
  color: #8B3E87;
}
.main-content.single .post-content .post-related article.teaser--apps, .main-content.single .post-content .post-related article.teaser--website {
  padding-bottom: 0px;
}
.main-content.single .post-content .post-related article.teaser--news {
  padding-bottom: 25px;
}
.main-content.single .post-content .post-related article .teaser__content {
  position: relative;
  padding-bottom: 25px;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__title {
  margin: 0;
  margin-bottom: 16px;
  color: #475775;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__download-apps {
  top: auto;
  bottom: 0px;
  right: 100px;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__download-apps a {
  width: 75px;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__btn-wrapper a {
  border: none;
}
.main-content.single .post-content .post-related article .teaser__content .teaser__btn-wrapper a.teaser__btn {
  background: #2e71b5;
  border-radius: 8px 0 3px;
  font-size: 12px;
  padding: 3px 5px;
}
.main-content.single .post-content .post-related article .teaser__content p {
  font-size: 12px;
  margin-bottom: 10px;
}
.main-content.single .post-content .post-related article .teaser__content p span {
  text-transform: capitalize;
  color: #8b3e87;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  font-family: Heebo;
}
.main-content.single .post-resources {
  text-align: right;
  margin: 0px 20px;
}
.main-content.single .post-resources .btn-liner {
  padding: 5px 22px;
}
.main-content > img {
  width: 80%;
  margin: 0 auto;
}

.tool-pagination {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.tool-pagination ul.pages {
  display: inline-block;
  padding-left: 0;
  margin: 0px;
  border-radius: 4px;
}
.tool-pagination ul.pages li {
  display: inline-block;
}
.tool-pagination ul.pages li .page-number {
  font-family: Heebo, sans-serif;
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #ebebeb;
  border: 1px solid transparent;
  margin-left: -1px;
}
.tool-pagination ul.pages li .page-number:hover {
  color: #0072ba;
}
.tool-pagination ul.pages li .page-number.current {
  color: #0072ba;
}
.tool-pagination span.disabled i {
  opacity: 0.2 !important;
}

.zy-postcard {
  position: relative;
  margin-bottom: 16px;
}
.zy-postcard .zy-postcard-wrapper {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .zy-postcard .zy-postcard-wrapper {
    flex-direction: column;
  }
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail {
  flex-basis: 167px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image {
    height: 200px;
    background-size: cover;
  }
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content {
  flex-basis: 100%;
  padding: 20px 15px 25px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-post-type {
  font-size: 12px;
  margin-bottom: 10px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-post-type span {
  text-transform: capitalize;
  color: #8B3E87;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  font-family: Heebo;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title h3 {
  margin: 0px;
  margin-bottom: 16px;
  color: #475775;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title h4 {
  margin: 0px;
  color: #475775;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title .speakers {
  margin-top: 16px;
}
.zy-postcard .zy-postcard-app {
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.zy-postcard .zy-postcard-app a img {
  width: 75px;
}
.zy-postcard .zy-postcard-pdf {
  position: absolute;
  bottom: 0px;
  right: 100px;
  border: 1px solid #E0E0E0;
  border-radius: 8px 0px 3px;
}
.zy-postcard .zy-postcard-pdf h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 3.5px 6px;
}
.zy-postcard .zy-postcard-website {
  position: absolute;
  bottom: 0px;
  right: 100px;
  border: 1px solid #E0E0E0;
  border-radius: 8px 0px 3px;
}
.zy-postcard .zy-postcard-website h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 3.5px 6px;
}

.zy-postcard-readmore {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #2E71B5;
  border-radius: 8px 0px 3px;
}
.zy-postcard-readmore h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #fff;
  margin: 0px;
  padding: 3.5px 6px;
}

.best-content.experts-interviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -71px;
}
@media (max-width: 992px) {
  .best-content.experts-interviews {
    flex-direction: column;
  }
}
.best-content.experts-interviews .zy-postcard {
  margin-bottom: 45px;
  flex-basis: 30%;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper {
  border: none;
  flex-direction: column;
  background: transparent;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-post-type {
  font-size: 12px;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-post-type span {
  text-transform: capitalize;
  color: #8B3E87;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  font-family: Heebo;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail {
  flex-basis: 135px;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image {
  height: 135px;
  border-radius: 4px;
  position: relative;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-content {
  padding: 5px 0px 25px;
}
.best-content.experts-interviews .zy-postcard .zy-postcard-wrapper .zy-postcard-content h3 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

.best-content.videos-presentations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -71px;
}
@media (max-width: 992px) {
  .best-content.videos-presentations {
    flex-direction: column;
  }
}
.best-content.videos-presentations .zy-postcard {
  margin-bottom: 45px;
  flex-basis: 30%;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper {
  border: none;
  flex-direction: column;
  background: transparent;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-post-type {
  font-size: 12px;
  margin-bottom: 10px;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-post-type span {
  text-transform: capitalize;
  color: #8B3E87;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  font-family: Heebo;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail {
  flex-basis: 135px;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image {
  display: block;
  height: 135px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-content {
  padding: 5px 0px 25px;
}
.best-content.videos-presentations .zy-postcard .zy-postcard-wrapper .zy-postcard-content h3 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

.post-related-library {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .post-related-library {
    flex-direction: column;
  }
}
.post-related-library .post-related-item {
  flex-basis: 30%;
  position: relative;
}
.post-related-library .post-related-item .teaser-library {
  padding-bottom: 30px;
}

h3.post-related__title {
  color: #96368b;
  border-color: #96368b;
}

.single-header .banner-post-image__title {
  font-size: 25px;
}
.single-header .banner-figure .banner-figure__inner {
  overflow: hidden;
}
.single-header .banner-figure .banner-figure__inner img {
  width: 100%;
}
.single-header .banner-figure.banner-figure--apps .banner-figure__inner .app-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.single-header .banner-post-image__download-apps a {
  margin: 0px !important;
}
.single-header .banner-post.banner--news {
  margin-bottom: -60px;
}
@media (max-width: 992px) {
  .single-header .banner-post.banner--news {
    margin-bottom: 20px;
  }
}
.single-header .banner-post.banner--news .banner-post__title {
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.single-header .banner-post.banner--library.discovery-tools {
  margin-bottom: -60px;
}
@media (max-width: 992px) {
  .single-header .banner-post.banner--library.discovery-tools {
    margin-bottom: 20px;
  }
}
.single-header .banner-post.banner-books {
  background: #f39325;
}
.single-header .banner-post.banner--studies {
  background: #96368b;
}
.single-header .banner-post.banner--guidelines {
  background: #96368b;
}

.main-content #zy-search {
  position: relative;
  width: 100%;
  height: 232px;
  background-color: #96368b;
  background-image: var(--thumbnail);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}
@media (max-width: 768px) {
  .main-content #zy-search {
    height: 180px;
    padding: 20px;
  }
}
.main-content #zy-search.vein-news .list-post-context h2 {
  color: #fff;
}
.main-content #zy-search.publications-books .list-post-context h2 {
  color: #96368B;
}
.main-content #zy-search.apps-websites .list-post-context h2 {
  color: #00b3bb;
}
.main-content #zy-search .list-post-context h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 20px;
  color: #96368b;
}
@media (max-width: 768px) {
  .main-content #zy-search .list-post-context h2 {
    font-size: 20px;
  }
}
.main-content #zy-search .input-wrapper {
  position: absolute;
  bottom: 35px;
  left: 45px;
  right: 45px;
  width: calc(100% - 90px);
}
@media (max-width: 768px) {
  .main-content #zy-search .input-wrapper {
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }
}
.main-content #zy-search .input-wrapper input {
  width: 100%;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 13px 17px;
  outline: none;
}
.main-content #zy-search .input-wrapper img {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-content.single #zy-search .list-post-context h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.main-content.single #zy-search .list-post-context p {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

@media (max-width: 992px) {
  .zy-sidebar-wrapper {
    display: none;
  }
}
.zy-sidebar-wrapper #zy-sidebar {
  margin-top: -78.61px;
  top: 140px;
  position: fixed;
  transition: 0.4s;
}
.zy-sidebar-wrapper #zy-sidebar.active {
  top: 100px;
}
.zy-sidebar-wrapper #zy-sidebar ul {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -webkit-padding-start: 0px;
  -khtml-padding-start: 0px;
  -o-padding-start: 0px;
  padding-start: 0px;
  list-style: none;
}
.zy-sidebar-wrapper #zy-sidebar ul li a {
  display: block;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #000;
  padding: 12px;
  transition: background 0.2s;
  border-radius: 5px;
}
.zy-sidebar-wrapper #zy-sidebar ul li a.active {
  background: #ecf1f9;
}
.zy-sidebar-wrapper #zy-sidebar ul li a:hover {
  background: #ecf1f9;
}
.zy-sidebar-wrapper #zy-sidebar ul li:first-child a:hover {
  background: inherit;
}
.zy-sidebar-wrapper #zy-sidebar ul li:last-child {
  margin-bottom: 0px;
}
.zy-sidebar-wrapper #zy-sidebar ul li img {
  width: 185px;
  opacity: 0;
  transition: 0.4s;
}
.zy-sidebar-wrapper #zy-sidebar ul li img.active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
