.new-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.new-content .new-content-left .square-box-big {
  height: 368px;
  border-radius: 16px;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.new-content .new-content-right {
  display: grid;
  gap: 8px;
}
.new-content .new-content-right .new-content-right-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.new-content .new-content-right .new-content-right-top .square-box-small {
  position: relative;
  height: 180px;
  border-radius: 16px;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 60%), var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content {
  position: absolute;
  bottom: 12px;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p {
  color: #fff;
  margin-bottom: 0px;
  white-space: -moz-nowrap;
  /* Firefox */
  white-space: -o-nowrap;
  /* Opera */
  white-space: nowrap;
  /* Chrome */
  word-wrap: nowrap;
  /* IE */
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p.date {
  font-family: Work Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .new-content-right-top .square-box-small .square-box-content p.title {
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .square-box-long {
  position: relative;
  height: 180px;
  border-radius: 16px;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 60%), var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.new-content .new-content-right .square-box-long .square-box-content {
  position: absolute;
  bottom: 12px;
}
.new-content .new-content-right .square-box-long .square-box-content p {
  color: #fff;
  margin-bottom: 0px;
  white-space: -moz-nowrap;
  /* Firefox */
  white-space: -o-nowrap;
  /* Opera */
  white-space: nowrap;
  /* Chrome */
  word-wrap: nowrap;
  /* IE */
}
.new-content .new-content-right .square-box-long .square-box-content p.date {
  font-family: Work Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.new-content .new-content-right .square-box-long .square-box-content p.title {
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

#zy-header {
  margin-top: 30px;
  margin-bottom: 40px;
}

.page.zy {
  height: calc(100vh + 100px);
  background: #fcfcfc;
}

.section-title {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #024A85;
}

.main-content .results-sorting {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.main-content .results-sorting #search-post-types {
  position: relative;
  z-index: 1;
  width: 235px;
  background: #FFFFFF;
  border: 1px solid #0071BA;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
}
.main-content .results-sorting #search-post-types .search-post-types-options {
  z-index: 1;
  position: absolute;
  width: 235px;
  background: #FFFFFF;
  border: 1px solid #0071BA;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 4px;
  left: -1px;
  top: -1px;
  display: none;
  flex-direction: column;
}
.main-content .results-sorting #search-post-types .search-post-types-options .placeholder-sim {
  padding-left: 8px;
  padding-bottom: 12px;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover {
  background: #033878;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover .post-types-checkbox {
  background-color: #fff;
  border-color: #fff;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label:hover label {
  color: #fff;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label input {
  display: none;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label input:checked ~ .post-types-checkbox:after {
  content: "";
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label .post-types-checkbox {
  position: relative;
  width: 13px;
  height: 13px;
  border: 2px solid #033878;
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label .post-types-checkbox:after {
  content: none;
  position: absolute;
  width: 7px;
  height: 12px;
  border-left: 2px solid #033878;
  border-top: 2px solid #033878;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -73%) rotate(-145deg);
}
.main-content .results-sorting #search-post-types .search-post-types-options .post-types-label label {
  margin: 0px;
  padding-left: 10px;
  text-transform: capitalize;
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.main-content .results-sorting #search-post-types .arrow {
  z-index: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content .results-sorting #search-post-types .arrow.opened {
  top: 17px;
}
.main-content .results-sorting #filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-content .results-sorting #filters p {
  margin: 3px;
}
.main-content .results-sorting #filters .filter-item {
  padding: 5px 10px;
  background: #ebebeb;
  margin: 3px;
  border: none;
  border-radius: 4px;
}
.main-content .results-sorting #filters .filter-item.active {
  background: #2e71b5;
  color: #fff;
}
.main-content .results-query {
  margin-top: 40px;
  margin-bottom: 8px;
}
.main-content .no-posts-found {
  text-align: center;
  margin-bottom: 40px;
}
.main-content .no-posts-found h3 {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #0071ba;
}
.main-content .no-posts-found p {
  width: 290px;
  max-width: 100%;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  margin: auto;
}
.main-content.single .post-content {
  padding-left: 100px;
}

.zy-postcard {
  position: relative;
  margin-bottom: 16px;
}
.zy-postcard .zy-postcard-wrapper {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail {
  flex-basis: 167px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-thumbnail .zy-postcard-thumbnail-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content {
  flex-basis: 100%;
  padding: 20px 15px 50px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-post-type span {
  text-transform: capitalize;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title h3 {
  margin: 0px;
  margin-bottom: 16px;
  color: #6B7A96;
  font-family: Heebo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title h4 {
  margin: 0px;
  color: #6B7A96;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.zy-postcard .zy-postcard-wrapper .zy-postcard-content .zy-postcard-title .speakers {
  margin-top: 16px;
}
.zy-postcard .zy-postcard-app {
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.zy-postcard .zy-postcard-app a img {
  width: 75px;
}
.zy-postcard .zy-postcard-pdf {
  position: absolute;
  bottom: 0px;
  right: 100px;
  border: 1px solid #E0E0E0;
  border-radius: 8px 0px 3px;
}
.zy-postcard .zy-postcard-pdf h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 3.5px 6px;
}
.zy-postcard .zy-postcard-website {
  position: absolute;
  bottom: 0px;
  right: 100px;
  border: 1px solid #E0E0E0;
  border-radius: 8px 0px 3px;
}
.zy-postcard .zy-postcard-website h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 3.5px 6px;
}
.zy-postcard .zy-postcard-readmore {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: #2E71B5;
  border-radius: 8px 0px 3px;
}
.zy-postcard .zy-postcard-readmore h4 {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #fff;
  margin: 0px;
  padding: 3.5px 6px;
}

.main-content #zy-search {
  position: relative;
  width: 100%;
  height: 232px;
  background-image: var(--thumbnail);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}
.main-content #zy-search .list-post-context h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 20px;
  color: #96368b;
}
.main-content #zy-search .input-wrapper {
  position: absolute;
  bottom: 35px;
  left: 45px;
  right: 45px;
  width: calc(100% - 90px);
}
.main-content #zy-search .input-wrapper input {
  width: 100%;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 13px 17px;
  outline: none;
}
.main-content #zy-search .input-wrapper img {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content.single #zy-search .list-post-context h2 {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.main-content.single #zy-search .list-post-context p {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.zy-sidebar-wrapper #zy-sidebar {
  margin-top: -78.61px;
  top: 140px;
  position: fixed;
  transition: 0.4s;
}
.zy-sidebar-wrapper #zy-sidebar.active {
  top: 100px;
}
.zy-sidebar-wrapper #zy-sidebar ul {
  -webkit-padding-start: 0px;
  list-style: none;
}
.zy-sidebar-wrapper #zy-sidebar ul li {
  margin-bottom: 24px;
}
.zy-sidebar-wrapper #zy-sidebar ul li a {
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.zy-sidebar-wrapper #zy-sidebar ul li:last-child {
  margin-bottom: 0px;
}
.zy-sidebar-wrapper #zy-sidebar ul li img {
  width: 185px;
  opacity: 0;
  transition: 0.4s;
}
.zy-sidebar-wrapper #zy-sidebar ul li img.active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
