
.icon-custom-play-circled:before { content: '\e800'; } /* '' */
.icon-custom-search:before { content: '\e801'; } /* '' */
.icon-custom-arrow-right:before { content: '\e802'; } /* '' */
.icon-custom-arrow-left-liner:before { content: '\e803'; } /* '' */
.icon-custom-cancel:before { content: '\e804'; } /* '' */
.icon-custom-play:before { content: '\e805'; } /* '' */
.icon-custom-arrow-left:before { content: '\e806'; } /* '' */
.icon-custom-arrow-right-liner:before { content: '\e807'; } /* '' */
.icon-custom-ppt:before { content: '\e809'; } /* '' */
.icon-custom-pdf:before { content: '\e80b'; } /* '' */
.icon-custom-link:before { content: '\e80c'; } /* '' */
.icon-custom-close:before { content: '\e810'; } /* '' */