<div id="zy-header">
    <img src="{{ base_url }}/new-assets/img/new-logo.png">
    <div class="menu-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="menu-mobile">
    {% if new_menu %}
        <ul>
            {% for item in new_menu.get_items %}
                <li><a href="{{ site.url }}{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>