<div class="pre-loader">
    <div class="load-icon">
        <img draggable="false" width="16" height="16" src="{{theme.link ~ '/assets/img/ajax-loader.gif'}}" alt="ajax-loader">
    </div>
</div><!--.pre-loader-->